<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/css/css.css">
    <title>Скачать</title>
</head>
<body>
<div class="background_fon">
    <div class="no_centre">
        <h1 class="h1">Скачать приложение вы можете здесь:</h1>
        <a class="p2" href="static/app/app.zip" download="">Скачать</a>
    </div>
    <div class="up_right">
        <a href="/set_menu"><input width="50" type="image" src="https://capyba.ru/services/podkluchenie-dostavki/images/5.png"></a>
    </div>
</div>
</body>
</html>