<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static/css/css.css">
    <title>Настройки</title>
</head>
<body>

<div class="background_fon">
    <div class="settings">
        <h1 class="h1">Загрузите фото своего профиля</h1>
        <form method="post" enctype=multipart/form-data>
            <div>
                <input id="ava_name" class="input" type="file" name='file' multiple accept="image/*">
            </div>
            <br>
            <button type="submit" value=Upload class="btn-primary">Сохранить</button>
        </form>
    </div>
</div>
</body>
</html>